<nav class="Navigation">
  <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> x </a>
      <div class="links-on-side font-weight-light">
         <%= link_to "DashBoard", root_path, :class => 'nav-link '%>
         <%= link_to "Manage Houses", houses_path, :class => 'nav-link'%>
      </div>
  </div>
</nav>